{{partial 'partials/header' }}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div>
        {{#can 'article_create'}}
          {{#link-to 'articles.create'}}
            {{t 'article.create'}}
          {{/link-to}}
        {{/can}}
      </div>

      {{render 'articles.list' records}}

    </div>
{{!--
    {{partial 'partials/sidebar' }} --}}
  </div>
</div>