{{partial 'partials/header' }}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        {{#can 'article_create'}}
          {{#link-to 'articles.create'}}Create article{{/link-to}}
        {{/can}}
      </div>

      {{render 'articles.list' records}}

    </div>

    {{partial 'partials/sidebar' }}
  </div>
</div>