<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
  style="background-image: url('/public/theme/we-theme-blog-startbootstrap-clean/img/home-bg.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>{{title}}</h1>
          <hr class="small">
          <span class="subheading">{{req.we.config.subtitle}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div id="sysMessagesArea">{{{we-messages}}}</div>
      {{#region 'highlighted'}}{{/region}}
      {{{body}}}
      {{#region 'afterContent'}}{{/region}}
    </div>
  </div>
</div>